Data_ingestion/html_raw_data
Data_ingestion/.env
.env
.venv
.DS_Store
Data_ingestion/.ipynb_checkpoints
/src/frontend/node_modules/
*/package-lock.json
.azure
__pycache__/
*.js.map
*.pyc
src/backend/static/assets/*